@tailwind base;
@tailwind components;
@tailwind utilities;


svg {
    cursor: pointer;
}

.aside-menu li a i {
    color: rgb(100 116 139);
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

.aside-menu li a:hover i {
    color: rgb(165 180 252);
}

.text-primary{
    color: #FD5D14;
}

.primary-font {
    font-family: "Poppins", sans-serif;
}

.headline-font {
    font-family: "Noto Sans", sans-serif;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: auto;
    height: 100vh;
    transition: all 0.5s ease;
    /* grid-column: 1 / -1; */
}

.isClose {
    display: none;
    transition: all 0.5s ease;
}

.fullScreen {
    grid-template-columns: 1fr;
    transition: all 0.5s ease;
}

.image {
    width: 8rem;
    height: 5rem;
}

.image-profil{
    width: 6rem;
    height: 6rem;
}

.paralax{
    position: absolute;
    width: 60%;
    padding: 4rem 0 0 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(rgba(4, 15, 40, .6), rgba(4, 15, 40, .6)), url('/public/img/carousel-1.jpg') no-repeat center center / cover;
    z-index: -1;
}

.paralax-unsub{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 4rem 0 0 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(rgba(4, 15, 40, .6), rgba(4, 15, 40, .6)), url('/public/img/carousel-1.jpg') no-repeat center center / cover;
    z-index: -1;
}